Repository infanf/myanili: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

.lintstagedrc.json:

{
  "frontend/{src,test}/**/*.{ts,js}": [
    "tslint -c tslint.fix.json -p ./frontend --fix",
    "prettier --write"
  ],
  "frontend/{src,test}/**/*.{html,css}": [
    "prettier --write"
  ],
  "frontend/config/*.js": [
    "prettier --write"
  ]
}

chore: update dependencies
  backend/composer.lock
  frontend/package-lock.json
  package-lock.json
Due: none

chore: changelog
  frontend/src/changelog.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: integrate AnimeSchedule.net (links, ratings, watch sync)
  backend/.env.example
  backend/app/Providers/AnimescheduleServiceProvider.php
  backend/bootstrap/app.php
  backend/routes/animeschedule.php
  frontend/src/app/anime/details/details.component.html
  frontend/src/app/anime/details/details.component.ts
  frontend/src/app/anime/details/edit/anime-edit.component.ts
  frontend/src/app/components/logins/animeschedule-login/animeschedule-login.component.html
  frontend/src/app/components/logins/animeschedule-login/animeschedule-login.component.ts
  frontend/src/app/components/logins/logins.component.html
  frontend/src/app/components/logins/logins.module.ts
  frontend/src/app/external/animeschedule/animeschedule.component.ts
  frontend/src/app/external/external.module.ts
  frontend/src/app/icon/animeschedule/animeschedule.component.html
  frontend/src/app/icon/animeschedule/animeschedule.component.ts
  frontend/src/app/icon/icon.module.ts
  frontend/src/app/models/anime.ts
  frontend/src/app/services/anime/anime.service.ts
  frontend/src/app/services/anime/animeschedule.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: point AnimeSchedule OAuth redirectUri at the actual callback route
  backend/app/Providers/AnimescheduleServiceProvider.php
Due: none

feat: request animelist,stats OAuth scopes for AnimeSchedule
  backend/routes/animeschedule.php
Due: none

fix: break AnimeSchedule OAuth redirect loop on error callback
  backend/routes/animeschedule.php
Due: none

feat: request animelist + stats OAuth scopes for AnimeSchedule
  backend/routes/animeschedule.php
Due: none

feat: make AnimeSchedule OAuth scopes configurable via ANIMESCHEDULE_SCOPES
  backend/.env.example
  backend/routes/animeschedule.php
Due: none

fix: proxy AnimeSchedule OAuth calls through backend to avoid CORS
  backend/routes/animeschedule.php
  frontend/src/app/services/anime/animeschedule.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: resolve NG0100 in related anime/manga components
  frontend/src/app/related/anime/anime.component.html
  frontend/src/app/related/anime/anime.component.ts
  frontend/src/app/related/manga/manga.component.html
  frontend/src/app/related/manga/manga.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: version bump to 5.0.0
  backend/composer.json
  frontend/package.json
  frontend/src/changelog.ts
  package.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: show planned titles in watchlist once they start airing
  frontend/src/app/anime/watchlist/watchlist.component.html
  frontend/src/app/anime/watchlist/watchlist.component.ts
  frontend/src/changelog.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: replace Jikan with AniList for character/person/producer data (wip)
  .github/workflows/deploy.yml
  docker-compose.yml
  docker/mongo-init.js
  frontend/src/app/anime/details/characters/characters.component.html
  frontend/src/app/anime/details/characters/characters.component.ts
  frontend/src/app/anime/details/staff/staff.component.html
  frontend/src/app/anime/details/staff/staff.component.ts
  frontend/src/app/anime/producer/producer.component.ts
  frontend/src/app/character/anime/anime.component.html
  frontend/src/app/character/anime/anime.component.ts
  frontend/src/app/character/character.component.html
  frontend/src/app/character/character.component.ts
  frontend/src/app/character/manga/manga.component.html
  frontend/src/app/character/manga/manga.component.ts
  frontend/src/app/character/voices/voices.component.html
  frontend/src/app/character/voices/voices.component.ts
  frontend/src/app/manga/details/characters/characters.component.html
  frontend/src/app/manga/details/characters/characters.component.ts
  frontend/src/app/models/anilist.ts
  frontend/src/app/person/anime/anime.component.html
  frontend/src/app/person/anime/anime.component.ts
  frontend/src/app/person/manga/manga.component.html
  frontend/src/app/person/manga/manga.component.ts
  frontend/src/app/person/person.component.html
  frontend/src/app/person/person.component.ts
  frontend/src/app/person/staff/staff.component.html
  frontend/src/app/person/staff/staff.component.ts
  frontend/src/app/services/anilist.service.ts
  frontend/src/app/services/anilist/character.service.ts
  frontend/src/app/services/anilist/media.service.ts
  frontend/src/app/services/anilist/person.service.ts
  frontend/src/app/services/anilist/studio.service.ts
  frontend/src/app/services/anime/anime.service.ts
  frontend/src/app/services/manga/manga.service.ts
  frontend/src/environments/beta/environment.ts
  frontend/src/environments/environment.ts
  frontend/src/environments/prod/environment.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: complete Jikan removal, migrate remaining features to AniList
  .github/workflows/deploy.yml
  README.md
  docker-compose.yml
  docker/mongo-init.js
  frontend/src/app/anime/details/details.component.html
  frontend/src/app/anime/producer/producer.component.html
  frontend/src/app/manga/details/details.component.html
  frontend/src/app/manga/magazine/magazine.component.html
  frontend/src/app/manga/magazine/magazine.component.scss
  frontend/src/app/manga/magazine/magazine.component.ts
  frontend/src/app/manga/manga.module.ts
  frontend/src/app/models/jikan.ts
  frontend/src/app/services/mal.service.ts
  frontend/src/changelog.ts
  frontend/src/environments/beta/environment.ts
  frontend/src/environments/environment.ts
  frontend/src/environments/prod/environment.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: show character gender and age on character detail page
  frontend/src/app/character/character.component.html
  frontend/src/app/models/anilist.ts
  frontend/src/app/services/anilist/character.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: link characters mentioned in character descriptions to myanili
  frontend/src/app/character/character.component.html
  frontend/src/app/character/character.component.ts
  frontend/src/app/services/anilist/character.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: use Angular router for internal links in character description
  frontend/src/app/character/character.component.html
  frontend/src/app/character/character.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: voice actors missing on character page, add HTML description for staff
  frontend/src/app/models/anilist.ts
  frontend/src/app/person/person.component.html
  frontend/src/app/person/person.component.ts
  frontend/src/app/services/anilist/character.service.ts
  frontend/src/app/services/anilist/person.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: open external description links in a new tab instead of navigating
  frontend/src/app/character/character.component.ts
  frontend/src/app/person/person.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

docs: expand changelog entry with character/person AniList changes
  frontend/src/changelog.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: shift watchlist reveal date for shows airing past midnight JST
  frontend/src/app/anime/watchlist/watchlist.component.ts
  frontend/src/app/models/anime.ts
  frontend/src/app/services/anime/anime.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: align bangumi login flow with other oauth providers
  backend/routes/web.php
  frontend/src/app/services/anime/bangumi.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: bangumi auto-matching, title search and missing manga link
  frontend/src/app/anime/details/details.component.ts
  frontend/src/app/anime/details/edit/anime-edit.component.html
  frontend/src/app/anime/details/edit/anime-edit.component.ts
  frontend/src/app/external/bangumi/bangumi.component.ts
  frontend/src/app/external/external.module.ts
  frontend/src/app/manga/details/details.component.html
  frontend/src/app/manga/details/details.component.ts
  frontend/src/app/manga/details/edit/manga-edit.component.html
  frontend/src/app/manga/details/edit/manga-edit.component.ts
  frontend/src/app/services/anime/bangumi.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: open bangumi auth in a normal tab instead of a popup window
  frontend/src/app/services/anime/bangumi.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: push watch/read status, score and progress to Bangumi
  frontend/src/app/anime/details/details.component.ts
  frontend/src/app/anime/details/edit/anime-edit.component.ts
  frontend/src/app/manga/details/details.component.ts
  frontend/src/app/manga/details/edit/manga-edit.component.ts
  frontend/src/app/services/anime/anime.service.ts
  frontend/src/app/services/anime/bangumi.service.ts
  frontend/src/app/services/manga/manga.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: update Bangumi rating display and link structure
  frontend/src/app/anime/details/details.component.html
  frontend/src/app/icon/bangumi/bangumi.component.html
Due: prettier --write

chore: version bump to 6.1.0
  backend/composer.json
  frontend/package.json
  frontend/src/changelog.ts
  package.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: add bangumiId to anime and manga data structures
  frontend/src/app/anime/watchlist/watchlist.component.ts
  frontend/src/app/manga/bookshelf/bookshelf.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: persist freshly matched bangumiId in anime and manga extension
  frontend/src/app/anime/details/details.component.ts
  frontend/src/app/manga/details/details.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

refactor: pass whole anime/manga entry to update/delete instead of id list
  frontend/src/app/anime/details/details.component.ts
  frontend/src/app/anime/details/edit/anime-edit.component.ts
  frontend/src/app/anime/watchlist/watchlist.component.ts
  frontend/src/app/manga/bookshelf/bookshelf.component.ts
  frontend/src/app/manga/details/details.component.ts
  frontend/src/app/manga/details/edit/manga-edit.component.ts
  frontend/src/app/services/anime/anime.service.ts
  frontend/src/app/services/manga/manga.service.ts
  frontend/src/app/settings/migrate-baka/migrate-baka.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: remove Bangumi collection when deleting anime/manga
  frontend/src/app/services/anime/anime.service.ts
  frontend/src/app/services/anime/bangumi.service.ts
  frontend/src/app/services/manga/manga.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: only warn about provider sync failures when an id exists
  frontend/src/app/services/anime/anime.service.ts
  frontend/src/app/services/manga/manga.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: move view-related settings to the views they affect
  frontend/src/app/anime/list/list.component.html
  frontend/src/app/anime/schedule/schedule.component.html
  frontend/src/app/anime/season/season.component.html
  frontend/src/app/anime/season/season.component.ts
  frontend/src/app/anime/watchlist/watchlist.component.html
  frontend/src/app/components/components.module.ts
  frontend/src/app/components/header/header.component.html
  frontend/src/app/components/header/header.component.ts
  frontend/src/app/components/view-settings/view-settings.component.html
  frontend/src/app/components/view-settings/view-settings.component.ts
  frontend/src/app/manga/bookshelf/bookshelf-wrapper.component.html
  frontend/src/app/manga/list/list.component.html
  frontend/src/app/search/search.component.html
  frontend/src/app/search/search.component.ts
  frontend/src/app/settings/settings.component.html
  frontend/src/app/settings/settings.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: replace automatic service logoff with connection error indicator
  frontend/src/app/components/logins/anilist-login/anilist-login.component.html
  frontend/src/app/components/logins/anisearch-login/anisearch-login.component.html
  frontend/src/app/components/logins/annict-login/annict-login.component.html
  frontend/src/app/components/logins/baka-login/baka-login.component.html
  frontend/src/app/components/logins/bangumi-login/bangumi-login.component.html
  frontend/src/app/components/logins/connection-error/connection-error.component.html
  frontend/src/app/components/logins/connection-error/connection-error.component.ts
  frontend/src/app/components/logins/kitsu-login/kitsu-login.component.html
  frontend/src/app/components/logins/livechart-login/livechart-login.component.html
  frontend/src/app/components/logins/logins.module.ts
  frontend/src/app/components/logins/mangabaka-login/mangabaka-login.component.html
  frontend/src/app/components/logins/shikimori-login/shikimori-login.component.html
  frontend/src/app/components/logins/simkl-login/simkl-login.component.html
  frontend/src/app/components/logins/trakt-login/trakt-login.component.html
  frontend/src/app/navbar/top/top.component.html
  frontend/src/app/navbar/top/top.component.ts
  frontend/src/app/services/anilist.service.ts
  frontend/src/app/services/anime/annict.service.ts
  frontend/src/app/services/anime/bangumi.service.ts
  frontend/src/app/services/anime/livechart.service.ts
  frontend/src/app/services/anime/simkl.service.ts
  frontend/src/app/services/anime/trakt.service.ts
  frontend/src/app/services/anisearch.service.ts
  frontend/src/app/services/connection-status.service.ts
  frontend/src/app/services/global.service.ts
  frontend/src/app/services/kitsu.service.ts
  frontend/src/app/services/manga/mangabaka.service.ts
  frontend/src/app/services/manga/mangaupdates.service.ts
  frontend/src/app/services/shikimori.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: divide watchlist between released and upcoming episodes
  frontend/src/app/anime/watchlist/watchlist.component.html
  frontend/src/app/anime/watchlist/watchlist.component.scss
  frontend/src/app/anime/watchlist/watchlist.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: update package versions to 6.1.0 for consistency across projects
  backend/composer.lock
  frontend/package-lock.json
  package-lock.json
Due: none

feat: compact external database links as uniform icon tiles
  frontend/src/app/anime/details/details.component.html
  frontend/src/app/anime/details/details.component.ts
  frontend/src/app/components/components.module.ts
  frontend/src/app/components/external-link/external-link.component.html
  frontend/src/app/components/external-link/external-link.component.scss
  frontend/src/app/components/external-link/external-link.component.ts
  frontend/src/app/manga/details/details.component.html
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: restructure details view with clear information hierarchy
  frontend/src/app/anime/details/details.component.html
  frontend/src/app/anime/details/details.component.scss
  frontend/src/app/manga/details/details.component.html
  frontend/src/app/manga/details/details.component.scss
Due: prettier --write

feat: add setting to hide soon-starting shows from the watchlist
  frontend/src/app/anime/watchlist/watchlist.component.html
  frontend/src/app/anime/watchlist/watchlist.component.ts
  frontend/src/app/components/view-settings/view-settings.component.ts
  frontend/src/app/services/settings.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write
