Repository infanf/myanili: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

.lintstagedrc.json:

{
  "frontend/{src,test}/**/*.{ts,js}": [
    "tslint -c tslint.fix.json -p ./frontend --fix",
    "prettier --write"
  ],
  "frontend/{src,test}/**/*.{html,css}": [
    "prettier --write"
  ],
  "frontend/config/*.js": [
    "prettier --write"
  ]
}

feat(#107): add MangaBaka rating display
  frontend/src/app/manga/details/details.component.ts
  thoughts/shared/plans/2026-01-26-107-mangabaka-integration.md
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat(#107): add MangaBaka and Anime-Planet links to manga details
  frontend/src/app/manga/details/details.component.html
  thoughts/shared/plans/2026-01-26-107-mangabaka-integration.md
Due: prettier --write

fix(#107): filter null values in MangaBaka library updates
  frontend/src/app/manga/details/details.component.ts
  frontend/src/app/services/manga/manga.service.ts
  frontend/src/app/services/manga/mangabaka.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

docs: add changelog entry for v2.36.0 MangaBaka integration
  frontend/src/changelog.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: bump version to 2.36.0 in package.json
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/changelog.ts
  package-lock.json
  package.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: migrate aangabaka authentication
  MANGABAKA_SETUP.md
  backend/app/Providers/MangabakaServiceProvider.php
  backend/routes/web.php
  frontend/src/app/components/logins/mangabaka-login/mangabaka-login.component.html
  frontend/src/app/components/logins/mangabaka-login/mangabaka-login.component.ts
  frontend/src/app/services/manga/mangabaka.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: update version to 2.36.1 and fix manga details rating display
  backend/app/Http/Controllers/AnidbController.php
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/manga/details/details.component.ts
  frontend/src/app/models/manga.ts
  frontend/src/app/services/manga/manga.service.ts
  frontend/src/app/services/manga/mangaupdates.service.ts
  frontend/src/changelog.ts
  package-lock.json
  package.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: disable getRating feature due to HTTP 500 issue and update changelog
  frontend/src/app/services/anime/anidb.service.ts
  frontend/src/changelog.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: comment out getRating implementation until HTTP 500 issue is resolved
  frontend/src/app/services/anime/anidb.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

refactor: update SVG fill colors to use CSS variables for theme-based styling
  frontend/src/assets/stream/aniverse.svg
  frontend/src/assets/stream/disney.icon.svg
  frontend/src/assets/stream/disney.svg
  frontend/src/assets/stream/fun.icon.svg
  frontend/src/assets/stream/fun.svg
  frontend/src/styles/_config.scss
  frontend/src/styles/dark-theme.scss
Due: none

feat: upgrade PHP to 8.5 and relocate SQLite cache to a dedicated `/dbs` volume
  backend/Dockerfile
  backend/app/Http/Controllers/AnidbController.php
  dev.Dockerfile
  frontend/package-lock.json
  frontend/src/app/services/anime/anidb.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: Shikimori domain change
  backend/app/Providers/ShikimoriServiceProvider.php
  frontend/src/app/anime/details/details.component.html
  frontend/src/app/components/logins/shikimori-login/shikimori-login.component.html
  frontend/src/app/manga/details/details.component.html
  frontend/src/app/services/shikimori.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: implement user info retrieval for Mangabaka authentication
  backend/app/Providers/MangabakaServiceProvider.php
  backend/routes/web.php
  frontend/src/app/services/manga/mangabaka.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: propagate mangabakaId and fix profile URL construction
  frontend/src/app/components/logins/mangabaka-login/mangabaka-login.component.ts
  frontend/src/app/manga/bookshelf/bookshelf.component.ts
  frontend/src/app/manga/details/edit/manga-edit.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: version bump
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/changelog.ts
  package-lock.json
  package.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: update Mangabaka userinfo endpoint to the direct OAuth2 URL
  frontend/src/app/services/manga/mangabaka.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: update versioning
  .github/workflows/deploy.yml
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/changelog.ts
  package-lock.json
  package.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: fix changelog
  frontend/src/changelog.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: allow browsing without login (closes #40)
  backend/app/Providers/MalServiceProvider.php
  frontend/src/app/anime/anime.module.ts
  frontend/src/app/anime/details/details.component.html
  frontend/src/app/anime/details/details.component.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/guards/auth.guard.ts
  frontend/src/app/manga/details/details.component.html
  frontend/src/app/manga/details/details.component.ts
  frontend/src/app/manga/manga.module.ts
  frontend/src/app/navbar/bottom/bottom.component.html
  frontend/src/app/navbar/bottom/bottom.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: switch from hash-based to path-based routing
  frontend/Dockerfile
  frontend/apache-spa.conf
  frontend/src/app/app.module.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat(#113): add Bangumi OAuth login and community ratings
  backend/.env.example
  backend/app/Providers/BangumiServiceProvider.php
  backend/routes/web.php
  frontend/src/app/anime/details/details.component.html
  frontend/src/app/anime/details/details.component.ts
  frontend/src/app/components/logins/bangumi-login/bangumi-login.component.html
  frontend/src/app/components/logins/bangumi-login/bangumi-login.component.ts
  frontend/src/app/components/logins/logins.component.html
  frontend/src/app/components/logins/logins.module.ts
  frontend/src/app/icon/bangumi/bangumi.component.html
  frontend/src/app/icon/bangumi/bangumi.component.ts
  frontend/src/app/icon/icon.module.ts
  frontend/src/app/manga/details/details.component.html
  frontend/src/app/manga/details/details.component.ts
  frontend/src/app/models/anime.ts
  frontend/src/app/models/manga.ts
  frontend/src/app/services/anime/bangumi.service.ts
  thoughts/shared/plans/2026-03-18-113-bangumi-integration.md
  thoughts/shared/research/2026-03-18-113-bangumi-integration.md
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat(#113): add bangumiId input field to anime and manga edit forms
  frontend/src/app/anime/details/edit/anime-edit.component.html
  frontend/src/app/manga/details/edit/manga-edit.component.html
Due: prettier --write

feat: make all external tracking services throw on HTTP errors
  frontend/src/app/services/anilist/library.service.ts
  frontend/src/app/services/anime/anime.service.ts
  frontend/src/app/services/anime/annict.service.ts
  frontend/src/app/services/anime/livechart.service.ts
  frontend/src/app/services/anime/simkl.service.ts
  frontend/src/app/services/anime/trakt.service.ts
  frontend/src/app/services/anisearch.service.ts
  frontend/src/app/services/kitsu.service.ts
  frontend/src/app/services/manga/manga.service.ts
  frontend/src/app/services/manga/mangabaka.service.ts
  frontend/src/app/services/manga/mangaupdates.service.ts
  frontend/src/app/services/shikimori.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: switch fan-outs to Promise.allSettled with centralized toaster errors
  frontend/src/app/anime/details/details.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: redirect home to watchlist when logged in
  frontend/src/app/app.module.ts
  frontend/src/app/guards/home.guard.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: update @angular/compiler-cli to version 21.2.9
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: build warnings
  frontend/angular.json
  frontend/src/styles/_mixins.scss
Due: none

feat: season planner (#116)
  frontend/src/app/anime/anime.module.ts
  frontend/src/app/anime/season/planner/planner.component.html
  frontend/src/app/anime/season/planner/planner.component.ts
  frontend/src/app/anime/season/season.component.html
  frontend/src/app/anime/season/season.component.ts
  frontend/src/app/services/anime/season-planner.service.ts
  frontend/src/app/services/cache.service.ts
  frontend/src/changelog.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: correct variable assignment in update method
  frontend/src/app/anime/season/season.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: season planner button neben Überschrift und Ladeanimation im Popup
  frontend/src/app/anime/season/planner/planner.component.html
  frontend/src/app/anime/season/planner/planner.component.ts
  frontend/src/app/anime/season/season.component.html
  frontend/src/app/services/anime/livechart.service.ts
  frontend/src/app/services/anime/season-planner.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: set anisearch 'not_interested' when skipping in season planner
  frontend/src/app/anime/season/planner/planner.component.ts
  frontend/src/app/services/anisearch.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: fall back to addToLibrary when MangaBaka entry does not exist yet
  frontend/src/app/services/manga/manga.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

refactor: move upsert logic into MangabakaService.upsertLibraryEntry
  frontend/src/app/services/manga/manga.service.ts
  frontend/src/app/services/manga/mangabaka.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: version bump to 4.1.0
  frontend/package.json
  frontend/src/changelog.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: update version to 4.1.0 in root and backend manifests
  backend/composer.json
  package-lock.json
  package.json
Due: none

chore: update version to 4.1.0 in frontend package-lock
  backend/composer.lock
  frontend/package-lock.json
Due: none

Apply suggestion from @infanf
  frontend/src/changelog.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

docs: expand README with full setup and integration details
  README.md
Due: none

fix: update base URL for Mangabaka API
  frontend/src/app/services/manga/mangabaka.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write
