Repository infanf/myanili: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

.lintstagedrc.json:

{
  "frontend/{src,test}/**/*.{ts,js}": [
    "tslint -c tslint.fix.json -p ./frontend --fix",
    "prettier --write"
  ],
  "frontend/{src,test}/**/*.{html,css}": [
    "prettier --write"
  ],
  "frontend/config/*.js": [
    "prettier --write"
  ]
}

chore: module and dependency updates
  Dockerfile
  backend/Dockerfile
  backend/composer.lock
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  jikan/.env
  jikan/Dockerfile
  jikan/run-jikan.sh
  package.json
Due: none

fix: package-lock not matching package
  frontend/package-lock.json
Due: none

fix: ratings popup
  frontend/src/app/anime/anime.service.ts
  frontend/src/app/anime/details/details.component.ts
  frontend/src/app/components/dialogue/dialogue.service.ts
  frontend/src/app/manga/details/details.component.ts
  frontend/src/app/manga/manga.service.ts
  frontend/src/changelog.json
  package.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore(#58): add beta assets
  frontend/src/assets/beta/icon-128.png
  frontend/src/assets/beta/icon-192.png
  frontend/src/assets/beta/icon-256.png
  frontend/src/assets/beta/icon-512.png
  frontend/src/assets/beta/icon-72.png
  frontend/src/assets/beta/icon-96.png
  frontend/src/assets/beta/icon-apple.png
  frontend/src/assets/beta/icon-maskable.png
  frontend/src/assets/beta/icon-square.svg
  frontend/src/assets/beta/icon.svg
Due: none

fix: start and end time overwrite
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/anime/anime.service.ts
  frontend/src/app/anime/details/details.component.ts
  frontend/src/app/anime/watchlist/watchlist.component.ts
  frontend/src/app/manga/bookshelf/bookshelf.component.ts
  frontend/src/app/manga/details/details.component.ts
  frontend/src/app/manga/manga.service.ts
  package-lock.json
  package.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: update livechart cache
  backend/composer.lock
  backend/resources/livechart/animes-2022-fall.json
  backend/resources/livechart/animes-2023-spring.json
  backend/resources/livechart/animes-2023-summer.json
  backend/resources/livechart/animes-2023-winter.json
  backend/resources/livechart/animes-tba.json
Due: none

chore: cleanup dependencies
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

fix: flicker when scrolling to the bottom
  frontend/src/app/global.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: version bump
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/changelog.json
  package-lock.json
  package.json
Due: none

feat(#58): add beta environment
  frontend/angular.json
  frontend/src/environments/beta/environment.ts
  frontend/src/environments/beta/favicon.ico
  frontend/src/environments/beta/manifest.webmanifest
  frontend/src/environments/prod/environment.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat(#58): setup beta build pipeline
  .github/workflows/deploy.yml
  frontend/Dockerfile
  frontend/package.json
Due: none

feat: sort season list by popularity
  backend/app/Providers/MalServiceProvider.php
  frontend/src/app/anime/season/list/list.component.html
  frontend/src/app/anime/season/season.component.ts
  frontend/src/app/global.service.ts
  frontend/src/app/models/anime.ts
  frontend/src/app/search/search.component.html
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: optimize card design
  frontend/src/app/components/media-card/media-card.component.html
  frontend/src/app/components/media-card/media-card.component.scss
Due: prettier --write

feat: extend season grid information on hover
  backend/app/Providers/MalServiceProvider.php
  frontend/src/app/anime/details/details.component.html
  frontend/src/app/anime/season/grid/grid.component.html
  frontend/src/app/anime/widget/streaming/streaming.component.html
  frontend/src/app/anime/widget/streaming/streaming.component.ts
  frontend/src/app/components/media-card/media-card.component.html
  frontend/src/app/components/media-card/media-card.component.scss
  frontend/src/styles.scss
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: dark theme background color
  frontend/src/app/components/media-card/media-card.component.scss
Due: none

chore: version bump and changelog
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/changelog.json
  package-lock.json
  package.json
Due: none

feat: add animes from season grid
  frontend/src/app/anime/anime.service.ts
  frontend/src/app/anime/details/details.component.ts
  frontend/src/app/anime/season/grid/grid.component.html
  frontend/src/app/anime/season/season.component.ts
  frontend/src/styles.scss
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix(season): multiple update calls
  frontend/src/app/anime/season/grid/grid.component.ts
  frontend/src/app/anime/season/list/list.component.ts
  frontend/src/app/anime/season/season.component.ts
  frontend/src/app/app.component.ts
  frontend/src/app/mal.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: hyphenate small text block
  frontend/src/app/anime/season/grid/grid.component.html
  frontend/src/styles.scss
Due: prettier --write

fix: language subscription
  frontend/src/app/anime/season/season.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: handle trakt maintenance
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/anime/trakt.service.ts
  frontend/src/changelog.json
  package-lock.json
  package.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat(#61): add error message for current trakt outage
  frontend/src/app/anime/trakt.service.ts
  frontend/src/app/app.component.html
  frontend/src/app/components/components.module.ts
  frontend/src/app/components/toaster/toaster.component.html
  frontend/src/app/components/toaster/toaster.component.scss
  frontend/src/app/components/toaster/toaster.component.ts
  frontend/src/app/components/toaster/toaster.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix(#61): message clone button dark theme
  frontend/src/app/components/toaster/toaster.component.html
  frontend/src/app/components/toaster/toaster.component.scss
Due: prettier --write

feat: restructure anilist service and add notifications
  frontend/src/app/anilist.service.ts
  frontend/src/app/anilist/library.service.ts
  frontend/src/app/anilist/media.service.ts
  frontend/src/app/anilist/notifications.service.ts
  frontend/src/app/models/anilist.ts
  frontend/src/app/settings/settings.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: add notifications to ui
  frontend/src/app/anilist.service.ts
  frontend/src/app/anilist/notifications.service.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/components.module.ts
  frontend/src/app/components/date-ago.pipe.ts
  frontend/src/app/models/anilist.ts
  frontend/src/app/navbar/notifications/notifications.component.html
  frontend/src/app/navbar/notifications/notifications.component.ts
  frontend/src/app/navbar/top/top.component.html
  frontend/tsconfig.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: update dependencies
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(notifications): dark theme
  frontend/src/app/navbar/notifications/notifications.component.html
Due: prettier --write

chore: make notifications observable
  frontend/src/app/anilist.service.ts
  frontend/src/app/anilist/notifications.service.ts
  frontend/src/app/navbar/notifications/notifications.component.html
  frontend/src/app/navbar/notifications/notifications.component.ts
  frontend/src/app/settings/settings.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: notifications styling
  frontend/src/app/anilist/notifications.service.ts
  frontend/src/app/navbar/notifications/notifications.component.html
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: update notifications time
  frontend/src/app/components/date-ago.pipe.ts
  frontend/src/app/navbar/notifications/notifications.component.html
  frontend/src/app/navbar/notifications/notifications.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: add kitsu notifications
  frontend/src/app/models/kitsu.ts
  frontend/src/app/navbar/notifications/notifications.component.html
  frontend/src/app/navbar/notifications/notifications.component.ts
  frontend/src/app/services/kitsu.service.ts
  frontend/src/app/services/kitsu/notifications.service.ts
  frontend/tsconfig.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: update livechart cache
  backend/resources/livechart/animes-2022-fall.json
  backend/resources/livechart/animes-2023-fall.json
  backend/resources/livechart/animes-2023-spring.json
  backend/resources/livechart/animes-2023-summer.json
  backend/resources/livechart/animes-2023-winter.json
  backend/resources/livechart/animes-2024-winter.json
  backend/resources/livechart/animes-tba.json
Due: none

chore: add adn and akibapasstv
  frontend/src/app/components/stream.pipe.ts
  frontend/src/assets/stream/adn.svg
  frontend/src/assets/stream/akibapass.svg
  frontend/src/assets/stream/icon-adn.svg
  frontend/src/assets/stream/icon-akibapass.svg
  frontend/src/changelog.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: get series name from trakt
  backend/resources/trakt/create-cache.php
  backend/routes/trakt.php
  frontend/src/app/anime/details/details.component.ts
  frontend/src/app/services/anime/anime.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: update dependencies
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/changelog.json
  package-lock.json
  package.json
Due: none

feat: add timezone settings to watch time
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/anime/details/details.component.html
  frontend/src/app/anime/details/details.component.ts
  frontend/src/app/anime/list/list/list.component.html
  frontend/src/app/anime/schedule/schedule.component.html
  frontend/src/app/anime/schedule/schedule.component.ts
  frontend/src/app/anime/season/grid/grid.component.html
  frontend/src/app/anime/season/list/list.component.html
  frontend/src/app/anime/watchlist/watchlist.component.html
  frontend/src/app/anime/watchlist/watchlist.component.ts
  frontend/src/app/components/time.pipe.ts
  frontend/src/app/models/anime.ts
  frontend/src/app/services/anime/anime.service.ts
  frontend/src/changelog.json
  package-lock.json
  package.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: lazy load search results
  backend/app/Providers/MalServiceProvider.php
  frontend/src/app/search/search.component.html
  frontend/src/app/search/search.component.ts
  frontend/src/changelog.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: prevent auto adding of shows
  frontend/src/app/anime/details/details.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write
