Repository infanf/myanili: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

.lintstagedrc.json:

{
  "frontend/{src,test}/**/*.{ts,js}": [
    "tslint -c tslint.fix.json -p ./frontend --fix",
    "prettier --write"
  ],
  "frontend/{src,test}/**/*.{html,css}": [
    "prettier --write"
  ],
  "frontend/config/*.js": [
    "prettier --write"
  ]
}

feat(#49): get database ids for series
  backend/app/Providers/BakaServiceProvider.php
  frontend/src/app/manga/details/details.component.ts
  frontend/src/app/manga/mangaupdates.service.ts
  frontend/src/app/models/baka.ts
  frontend/src/app/models/manga.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat(#49): update baka manga lists
  frontend/src/app/manga/bookshelf/bookshelf.component.ts
  frontend/src/app/manga/details/details.component.ts
  frontend/src/app/manga/manga.service.ts
  frontend/src/app/manga/mangaupdates.service.ts
  frontend/src/app/models/baka.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat(#49): add rating to baka
  frontend/src/app/manga/manga.service.ts
  frontend/src/app/manga/mangaupdates.service.ts
  frontend/src/app/models/manga.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore(#49): switch baka search form to new implementation
  frontend/src/app/external/bakamanga/bakamanga.component.ts
  frontend/src/app/external/external.component.html
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: remove unused composer modules
  backend/composer.lock
Due: none

chore: chnagelog
  frontend/package-lock.json
  frontend/package.json
  frontend/src/changelog.json
Due: none

feat(#49): migrate mal to baka
  frontend/src/app/app.module.ts
  frontend/src/app/manga/mangaupdates.service.ts
  frontend/src/app/models/manga.ts
  frontend/src/app/settings/migrate-baka/migrate-baka.component.html
  frontend/src/app/settings/migrate-baka/migrate-baka.component.ts
  frontend/src/app/settings/settings.component.html
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: migration put everything in read
  frontend/src/app/manga/mangaupdates.service.ts
  frontend/src/app/settings/migrate-baka/migrate-baka.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: mal backend proxy
  backend/app/Http/Controllers/MalController.php
  backend/routes/mal.php
Due: none

feat: deploy to docker hub
  .github/workflows/deploy.yml
  backend/Dockerfile
  frontend/Dockerfile
  frontend/angular.json
Due: none

feat: deploy to docker hub
  .github/workflows/deploy.yml
  backend/Dockerfile
  frontend/Dockerfile
Due: none

fix: anisearch ratings not working
  backend/app/Providers/AnisearchServiceProvider.php
Due: none

fix: initial baka login only after reload
  frontend/src/app/manga/mangaupdates.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: update modules and packages
  backend/composer.json
  backend/composer.lock
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

feat(resolves #53): hide dropped and deleted shows on trakt
  frontend/src/app/anime/anime.service.ts
  frontend/src/app/anime/trakt.service.ts
  frontend/src/changelog.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: add option to open popup or link form search
  frontend/src/app/search/search.component.html
Due: prettier --write

feat: show broadcast time in local time
  backend/app/Providers/MalServiceProvider.php
  frontend/src/app/anime/details/details.component.html
  frontend/src/app/anime/details/details.component.ts
  frontend/src/app/models/anime.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: schedule is filled with broadcast time if no watchday is set
  frontend/src/app/anime/anime.service.ts
  frontend/src/app/anime/details/details.component.html
  frontend/src/app/anime/details/details.component.ts
  frontend/src/app/anime/schedule/schedule.component.html
  frontend/src/app/anime/schedule/schedule.component.ts
  frontend/src/app/components/mal.pipe.ts
  frontend/src/app/models/anime.ts
  frontend/src/changelog.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: dependency updates
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: version bump
  backend/composer.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/changelog.json
  package-lock.json
  package.json
Due: none

feat(livechart): create cache from season files
  .gitignore
  backend/bootstrap/app.php
  backend/composer.json
  backend/resources/.gitignore
  backend/resources/livechart/animes-2016-fall.json
  backend/resources/livechart/animes-2016-spring.json
  backend/resources/livechart/animes-2016-summer.json
  backend/resources/livechart/animes-2016-winter.json
  backend/resources/livechart/animes-2017-fall.json
  backend/resources/livechart/animes-2017-spring.json
  backend/resources/livechart/animes-2017-summer.json
  backend/resources/livechart/animes-2017-winter.json
  backend/resources/livechart/animes-2018-fall.json
  backend/resources/livechart/animes-2018-spring.json
  backend/resources/livechart/animes-2018-summer.json
  backend/resources/livechart/animes-2018-winter.json
  backend/resources/livechart/animes-2019-fall.json
  backend/resources/livechart/animes-2019-spring.json
  backend/resources/livechart/animes-2019-summer.json
  backend/resources/livechart/animes-2019-winter.json
  backend/resources/livechart/animes-2020-fall.json
  backend/resources/livechart/animes-2020-spring.json
  backend/resources/livechart/animes-2020-summer.json
  backend/resources/livechart/animes-2020-winter.json
  backend/resources/livechart/animes-2021-fall.json
  backend/resources/livechart/animes-2021-spring.json
  backend/resources/livechart/animes-2021-summer.json
  backend/resources/livechart/animes-2021-winter.json
  backend/resources/livechart/animes-2022-fall.json
  backend/resources/livechart/animes-2022-spring.json
  backend/resources/livechart/animes-2022-summer.json
  backend/resources/livechart/animes-2022-winter.json
  backend/resources/livechart/animes-2023-fall.json
  backend/resources/livechart/animes-2023-spring.json
  backend/resources/livechart/animes-2023-summer.json
  backend/resources/livechart/animes-2023-winter.json
  backend/resources/livechart/create-cache.php
  backend/resources/livechart/scrape-mal-ids.js
  backend/routes/livechart.php
Due: none

feat(livechart): get cached ids in details
  frontend/src/app/anime/anime.service.ts
  frontend/src/app/anime/details/details.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: search link baka manga
  frontend/src/app/manga/details/details.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat(livechart cache): add future animes
  backend/resources/livechart/animes-tba.json
Due: none

chore: update livechart cache
  backend/resources/livechart/animes-2022-fall.json
  backend/resources/livechart/animes-2023-spring.json
  backend/resources/livechart/animes-2023-summer.json
  backend/resources/livechart/animes-2023-winter.json
  backend/resources/livechart/animes-2024-summer.json
  backend/resources/livechart/animes-2024-winter.json
  backend/resources/livechart/animes-tba.json
Due: none

chore: version upgrade
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/changelog.json
  package-lock.json
  package.json
Due: none

chore: fix apollo version
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: remove jikan v3
  frontend/src/app/anime/anime.service.ts
  frontend/src/app/anime/details/characters/characters.component.html
  frontend/src/app/anime/details/characters/characters.component.ts
  frontend/src/app/anime/details/staff/staff.component.html
  frontend/src/app/anime/details/staff/staff.component.ts
  frontend/src/app/anime/producer/producer.component.ts
  frontend/src/app/character/anime/anime.component.html
  frontend/src/app/character/anime/anime.component.ts
  frontend/src/app/character/character.component.html
  frontend/src/app/character/character.component.ts
  frontend/src/app/character/manga/manga.component.html
  frontend/src/app/character/manga/manga.component.ts
  frontend/src/app/character/voices/voices.component.html
  frontend/src/app/character/voices/voices.component.ts
  frontend/src/app/mal.service.ts
  frontend/src/app/manga/magazine/magazine.component.ts
  frontend/src/app/manga/manga.service.ts
  frontend/src/app/models/jikan.ts
  frontend/src/app/person/anime/anime.component.html
  frontend/src/app/person/anime/anime.component.ts
  frontend/src/app/person/manga/manga.component.html
  frontend/src/app/person/manga/manga.component.ts
  frontend/src/app/person/person.component.html
  frontend/src/app/person/person.component.ts
  frontend/src/app/person/staff/staff.component.html
  frontend/src/app/person/staff/staff.component.ts
  frontend/src/environments/environment.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: migrate studios to jikan v4
  frontend/src/app/anime/producer/producer.component.html
  frontend/src/app/anime/producer/producer.component.ts
  frontend/src/app/models/jikan.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: migrate manga characters to jikan v4
  frontend/src/app/manga/details/characters/characters.component.ts
  frontend/src/app/manga/manga.service.ts
  frontend/src/app/models/jikan.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: upgrade angular to 15
  frontend/.browserslistrc
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/styles.scss
  frontend/src/test.ts
  frontend/tsconfig.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat(#10): lazy loading anime list
  backend/app/Providers/MalServiceProvider.php
  backend/routes/mal.php
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/anime/anime.service.ts
  frontend/src/app/anime/list/list.component.html
  frontend/src/app/anime/list/list.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/mal.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: optimize docker build/push
  .github/workflows/deploy.yml
Due: none

feat(#10 #9): paged loading only where it's used
  backend/app/Providers/MalServiceProvider.php
  frontend/src/app/manga/list/list.component.html
  frontend/src/app/manga/list/list.component.ts
  frontend/src/app/manga/manga.service.ts
  frontend/src/app/search/search.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: version bump
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/changelog.json
  package-lock.json
  package.json
Due: none

fix(#9 #10): optimize lazy loading
  frontend/src/app/anime/anime.service.ts
  frontend/src/app/anime/list/list.component.ts
  frontend/src/app/mal.service.ts
  frontend/src/app/manga/list/list.component.ts
  frontend/src/app/manga/manga.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: update node to 18
  Dockerfile
  frontend/Dockerfile
Due: none

fix: load all anime from studio
  frontend/angular.json
  frontend/src/app/anime/producer/producer.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write
