Repository infanf/myanili: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: optimize feed component
  frontend/src/app/feed/feed.component.html
  frontend/src/app/feed/feed.component.scss
  frontend/src/app/feed/feed.component.ts
  frontend/src/app/models/anilist.ts
  frontend/src/app/services/anilist.service.ts
  frontend/src/app/services/anilist/feed.service.ts
  thoughts/shared/plans/2025-11-21-feed-component-improvements.md
  thoughts/shared/research/2025-11-21-feed-component-architecture.md
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: optimize feed ui in dark mode
  frontend/package-lock.json
  frontend/src/app/feed/feed.component.html
  frontend/src/app/feed/feed.component.ts
  frontend/src/app/navbar/top/top.component.html
  frontend/src/app/person/manga/manga.component.html
  frontend/src/changelog.ts
  package-lock.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: enhance feed component with reply likers functionality
  frontend/src/app/feed/feed.component.html
  frontend/src/app/feed/feed.component.ts
  frontend/src/app/models/anilist.ts
  frontend/src/app/services/anilist.service.ts
  frontend/src/app/services/anilist/feed.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: version bump
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

Refactor: Load likes and replies on demand
  frontend/src/app/feed/feed.component.html
  frontend/src/app/feed/feed.component.ts
  frontend/src/app/services/anilist.service.ts
  frontend/src/app/services/anilist/feed.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

Refactor: Load likes and replies on demand (#104)
  frontend/src/app/feed/feed.component.html
  frontend/src/app/feed/feed.component.ts
  frontend/src/app/services/anilist.service.ts
  frontend/src/app/services/anilist/feed.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: implement backend availability check and initialize app on load
  frontend/src/app/app.component.ts
  frontend/src/app/services/global.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: update dependencies
  backend/composer.lock
  frontend/package-lock.json
Due: none

chore: update angular to 21
  dev.Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/anime/details/details.component.html
  frontend/src/app/anime/details/details.component.scss
  frontend/src/app/anime/details/songs/songs.component.html
  frontend/src/app/anime/producer/producer.component.html
  frontend/src/app/character/character.component.html
  frontend/src/app/feed/feed.component.html
  frontend/src/app/manga/details/details.component.html
  frontend/src/main.ts
  frontend/tsconfig.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: migrate sass
  frontend/src/styles.scss
  frontend/src/styles/_config.scss
  frontend/src/styles/_mixins.scss
  frontend/src/styles/dark-theme.scss
Due: none

fix: migrate urql weirdness
  backend/composer.lock
  frontend/src/app/services/anilist.service.ts
  frontend/src/app/services/anime/annict.service.ts
  frontend/src/app/services/anime/livechart.service.ts
  frontend/src/app/services/shikimori.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: feed edgecase bugs
  frontend/src/app/anime/details/videos/videos.component.html
  frontend/src/app/feed/feed.component.html
  frontend/src/app/feed/feed.component.ts
  frontend/src/app/models/anilist.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: version bump
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/changelog.ts
  package-lock.json
  package.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix(#105): cannot open popup if there's no opening/ending
  frontend/src/app/anime/details/details.component.html
  frontend/src/app/anime/details/songs/songs.component.html
  frontend/src/app/external/external.component.html
Due: prettier --write

feat: move anime edits to separate component
  frontend/src/app/anime/anime.module.ts
  frontend/src/app/anime/details/details.component.html
  frontend/src/app/anime/details/details.component.ts
  frontend/src/app/anime/details/edit/anime-edit.component.html
  frontend/src/app/anime/details/edit/anime-edit.component.ts
  thoughts/shared/plans/2025-12-09-details-component-edit-modal-extraction.md
  thoughts/shared/research/2025-12-09-details-component-view-edit-states.md
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: move manga edits to separate component
  frontend/src/app/manga/details/details.component.html
  frontend/src/app/manga/details/details.component.ts
  frontend/src/app/manga/details/edit/manga-edit.component.html
  frontend/src/app/manga/details/edit/manga-edit.component.ts
  frontend/src/app/manga/manga.module.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: implement unsaved changes detection and improved error handling in edit components
  frontend/src/app/anime/details/edit/anime-edit.component.ts
  frontend/src/app/manga/details/edit/manga-edit.component.ts
  thoughts/shared/plans/2025-12-09-details-component-edit-modal-extraction.md
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: add automated release process with GitHub Actions workflows
  .github/RELEASE.md
  .github/workflows/create-release-pr.yml
  .github/workflows/tag-release.yml
Due: none

feat(research): document migration strategy for MyAniLi Angular app to Google Play with backend independence
  thoughts/shared/plans/2025-12-09-capacitor-android-migration.md
  thoughts/shared/research/2025-12-09-angular-to-google-play-migration.md
Due: none

feat(mobile): Phase 2 - Mobile Token Storage & Security
  frontend/src/app/services/secure-storage.service.ts
  frontend/src/app/services/token.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

docs(mobile): update migration plan with Phase 1 & 2 completion status
  thoughts/shared/plans/2025-12-09-capacitor-android-migration.md
Due: none

fix(mobile): correct webDir path for Angular 21 output structure
  frontend/capacitor.config.ts
Due: none

Initialize Android project structure with Gradle configuration and essential files
  .idea/.gitignore
  .idea/caches/deviceStreaming.xml
  .idea/markdown.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/native.iml
  .idea/vcs.xml
  frontend/android/.idea/.gitignore
  frontend/android/.idea/AndroidProjectSystem.xml
  frontend/android/.idea/compiler.xml
  frontend/android/.idea/deploymentTargetSelector.xml
  frontend/android/.idea/migrations.xml
  frontend/android/.idea/misc.xml
  frontend/android/.idea/runConfigurations.xml
  frontend/android/app/capacitor.build.gradle
  frontend/android/build.gradle
  frontend/android/capacitor.settings.gradle
  frontend/android/gradle/wrapper/gradle-wrapper.properties
  frontend/deploy-to-phone.sh
  frontend/src/assets/icon-maskable.svg
Due: none

feat(mobile): use vector icons from PWA, remove all pixel icons
  frontend/android/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  frontend/android/app/src/main/res/drawable/ic_launcher_foreground.xml
  frontend/android/app/src/main/res/drawable/ic_launcher_monochrome.xml
  frontend/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  frontend/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  frontend/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  frontend/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  frontend/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  frontend/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  frontend/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  frontend/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  frontend/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  frontend/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  frontend/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  frontend/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
Due: none

chore: update icons
  frontend/android/app/src/main/res/drawable/ic_launcher_foreground.xml
  frontend/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  frontend/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  frontend/android/app/src/main/res/values/ic_launcher_background.xml
  frontend/src/assets/icon-foreground.svg
Due: none

feat(mobile): implement mobile OAuth service and update platform handling
  frontend/angular.json
  frontend/package.json
  frontend/src/app/app.component.ts
  frontend/src/app/services/anilist.service.ts
  frontend/src/app/services/mobile/anilist-mobile-oauth.service.ts
  thoughts/shared/plans/2025-12-09-capacitor-android-migration.md
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat(mobile): implement mobile OAuth for MAL with PKCE flow
  frontend/angular.json
  frontend/package.json
  frontend/src/app/app.component.ts
  frontend/src/app/services/anilist.service.ts
  frontend/src/app/services/mal.service.ts
  frontend/src/app/services/mobile/anilist-mobile-oauth.service.ts
  frontend/src/app/services/mobile/mal-mobile-oauth.service.ts
  frontend/src/app/services/mobile/pkce.util.ts
  frontend/src/app/services/platform.service.ts
  frontend/src/environments/environment.mobile.ts
  frontend/src/environments/environment.ts
  frontend/src/environments/prod/environment.ts
  thoughts/shared/plans/2025-12-09-capacitor-android-migration.md
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: update kaze logo
  frontend/src/assets/publisher/kaze.icon.svg
  frontend/src/assets/publisher/kaze.svg
Due: none

chore: remove link
  frontend/src/assets/publisher/kaze.svg
Due: none

feat: add watch dates
  backend/composer.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/anime/details/details.component.html
  frontend/src/app/manga/details/details.component.html
  frontend/src/changelog.ts
  package.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: optimize watch dates
  frontend/src/app/anime/details/details.component.html
  frontend/src/app/manga/details/details.component.html
Due: prettier --write

fix: build not working
  backend/composer.lock
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
Due: none

fix(#106): add delete functionality in anime and manga edit components resolves #106
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/anime/details/details.component.ts
  frontend/src/app/anime/details/edit/anime-edit.component.html
  frontend/src/app/anime/details/edit/anime-edit.component.ts
  frontend/src/app/manga/details/details.component.ts
  frontend/src/app/manga/details/edit/manga-edit.component.html
  frontend/src/app/manga/details/edit/manga-edit.component.ts
  frontend/src/changelog.ts
  package-lock.json
  package.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat(#107): login and base connection setup
  MANGABAKA_SETUP.md
  frontend/src/app/components/logins/logins.component.html
  frontend/src/app/components/logins/logins.module.ts
  frontend/src/app/components/logins/mangabaka-login/mangabaka-login.component.html
  frontend/src/app/components/logins/mangabaka-login/mangabaka-login.component.ts
  frontend/src/app/icon/icon.module.ts
  frontend/src/app/icon/mangabaka/mangabaka.component.html
  frontend/src/app/icon/mangabaka/mangabaka.component.ts
  frontend/src/app/models/mangabaka.ts
  frontend/src/app/services/manga/manga.service.ts
  frontend/src/app/services/manga/mangabaka.service.ts
  thoughts/shared/research/2026-01-26-mangabaka-api-integration-patterns.md
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat(#107): add MangaBaka data model extensions
  frontend/src/app/models/manga.ts
  frontend/src/app/models/mangabaka.ts
  thoughts/shared/plans/2026-01-26-107-mangabaka-integration.md
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat(#107): add status mapping for MangaBaka sync
  frontend/src/app/services/manga/mangabaka.service.ts
  thoughts/shared/plans/2026-01-26-107-mangabaka-integration.md
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat(#107): wire MangaBaka library synchronization
  frontend/src/app/manga/details/details.component.ts
  frontend/src/app/services/manga/manga.service.ts
  thoughts/shared/plans/2026-01-26-107-mangabaka-integration.md
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat(#107): add MangaBaka external ID mapping
  frontend/src/app/manga/details/details.component.ts
  thoughts/shared/plans/2026-01-26-107-mangabaka-integration.md
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

Path conditions:
  tslint -c tslint.fix.json -p ./frontend --fix: any of: frontend/{src,test}/**/*.{ts,js}
  prettier --write: ((any of: frontend/{src,test}/**/*.{ts,js}) or (any of: frontend/{src,test}/**/*.{html,css})) or (any of: frontend/config/*.js)
