Repository infanf/myanili: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: anisearch updates optimization
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/services/anisearch.service.ts
  frontend/src/changelog.ts
  package-lock.json
  package.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix(#95): add rewatch info to updates
  frontend/src/app/anime/details/details.component.ts
  frontend/src/app/anime/watchlist/watchlist.component.ts
  frontend/src/app/manga/bookshelf/bookshelf.component.ts
  frontend/src/app/manga/details/details.component.ts
  frontend/src/app/models/anime.ts
  frontend/src/app/models/manga.ts
  frontend/src/app/services/anime/anime.service.ts
  frontend/src/app/services/manga/manga.service.ts
  frontend/src/app/settings/migrate-baka/migrate-baka.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore(#93): changelog
  frontend/src/changelog.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

test: enable error reporting for shikimori
  backend/routes/shikimori.php
Due: none

fix: output logs to stdout
  backend/bootstrap/app.php
Due: none

test: send user agent
  backend/app/Providers/ShikimoriServiceProvider.php
  backend/routes/shikimori.php
Due: none

fix(#96): logoff shikimori if toekn refresh fails
  backend/bootstrap/app.php
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/services/shikimori.service.ts
  frontend/src/changelog.ts
  package-lock.json
  package.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat(#97): add trakt drop feature
  frontend/src/app/services/anime/anime.service.ts
  frontend/src/app/services/anime/trakt.service.ts
  frontend/src/changelog.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: version bump
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

feat: auto map trakt via simkl and imdb
  frontend/src/app/anime/details/details.component.ts
  frontend/src/app/services/anime/anime.service.ts
  frontend/src/app/services/anime/simkl.service.ts
  frontend/src/app/services/anime/trakt.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: changelog
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/changelog.ts
  package-lock.json
  package.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: include unavailable chapters and completion after one chapter
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/manga/details/details.component.ts
  frontend/src/app/services/manga/mangadex.service.ts
  frontend/src/changelog.ts
  package-lock.json
  package.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

test: remove Anisearch PKCE test suite
  backend/tests/AnisearchPKCETest.php
Due: none

Fix Anisearch OAuth authentication by implementing PKCE support (#99)
  backend/composer.json
  backend/composer.lock
  backend/routes/anisearch.php
  frontend/package-lock.json
  frontend/package.json
  frontend/src/changelog.ts
  package-lock.json
  package.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: reenable anidb
  backend/app/Http/Controllers/AnidbController.php
Due: none

Revert "feat: reenable anidb"
  backend/app/Http/Controllers/AnidbController.php
Due: none

fix: remove login headaches
  backend/routes/mal.php
  backend/routes/web.php
  frontend/src/app/navbar/top/top.component.html
  frontend/src/app/services/anime/livechart.service.ts
  frontend/src/app/services/mal.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: version bump
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/changelog.ts
  package-lock.json
  package.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: change log
  frontend/src/changelog.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: add buffer dependency and update Angular configuration
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/changelog.ts
  frontend/tsconfig.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: add Buffer polyfill
  frontend/angular.json
  frontend/src/app/models/anime.ts
  frontend/src/polyfills.ts
  frontend/tsconfig.app.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: update package versions and improve login components
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/components/logins/anilist-login/anilist-login.component.html
  frontend/src/app/components/logins/anilist-login/anilist-login.component.ts
  frontend/src/app/components/logins/anisearch-login/anisearch-login.component.html
  frontend/src/app/components/logins/anisearch-login/anisearch-login.component.ts
  frontend/src/app/components/logins/annict-login/annict-login.component.html
  frontend/src/app/components/logins/annict-login/annict-login.component.ts
  frontend/src/app/components/logins/baka-login/baka-login.component.html
  frontend/src/app/components/logins/baka-login/baka-login.component.ts
  frontend/src/app/components/logins/kitsu-login/kitsu-login.component.html
  frontend/src/app/components/logins/kitsu-login/kitsu-login.component.ts
  frontend/src/app/components/logins/livechart-login/livechart-login.component.html
  frontend/src/app/components/logins/livechart-login/livechart-login.component.ts
  frontend/src/app/components/logins/mal-login/mal-login.component.html
  frontend/src/app/components/logins/mal-login/mal-login.component.ts
  frontend/src/app/components/logins/shikimori-login/shikimori-login.component.html
  frontend/src/app/components/logins/shikimori-login/shikimori-login.component.ts
  frontend/src/app/components/logins/simkl-login/simkl-login.component.html
  frontend/src/app/components/logins/simkl-login/simkl-login.component.ts
  frontend/src/app/components/logins/trakt-login/trakt-login.component.html
  frontend/src/app/components/logins/trakt-login/trakt-login.component.ts
  package-lock.json
  package.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: changelog
  frontend/src/changelog.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: update web app icons in manifest
  frontend/src/assets/beta/icon-mono.svg
  frontend/src/assets/icon-mono.svg
  frontend/src/manifest.webmanifest
Due: none

chore: rebrand azuki to omoi
  frontend/src/app/components/platform.pipe.ts
  frontend/src/assets/platform/azuki.icon.svg
  frontend/src/assets/platform/azuki.svg
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: Add feed component and Anilist activity integration
  frontend/src/app/app.module.ts
  frontend/src/app/feed/feed.component.html
  frontend/src/app/feed/feed.component.scss
  frontend/src/app/feed/feed.component.ts
  frontend/src/app/feed/feed.module.ts
  frontend/src/app/models/anilist.ts
  frontend/src/app/navbar/top/top.component.html
  frontend/src/app/services/anilist.service.ts
  frontend/src/app/services/anilist/feed.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

Refactor feed component and services for better user experience
  frontend/src/app/feed/feed.component.html
  frontend/src/app/feed/feed.component.scss
  frontend/src/app/feed/feed.component.ts
  frontend/src/app/feed/feed.module.ts
  frontend/src/app/services/anilist/feed.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

Feat: Add feed reload button and media navigation
  frontend/src/app/feed/feed.component.html
  frontend/src/app/feed/feed.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: refactor feed header buttons
  frontend/src/app/feed/feed.component.html
  frontend/src/app/feed/feed.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: others user feed
  frontend/src/app/feed/feed.component.html
Due: prettier --write

feat: link notifications
  frontend/src/app/feed/feed.component.html
  frontend/src/app/feed/feed.component.ts
  frontend/src/app/feed/feed.module.ts
  frontend/src/app/navbar/notifications/notifications.component.ts
  frontend/src/app/navbar/top/top.component.html
  frontend/src/app/navbar/top/top.component.ts
  frontend/src/app/services/anilist.service.ts
  frontend/src/app/services/anilist/feed.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

Respond to feature request from github (#102)
  frontend/src/app/app.module.ts
  frontend/src/app/feed/feed.component.html
  frontend/src/app/feed/feed.component.scss
  frontend/src/app/feed/feed.component.ts
  frontend/src/app/feed/feed.module.ts
  frontend/src/app/models/anilist.ts
  frontend/src/app/navbar/notifications/notifications.component.ts
  frontend/src/app/navbar/top/top.component.html
  frontend/src/app/navbar/top/top.component.ts
  frontend/src/app/services/anilist.service.ts
  frontend/src/app/services/anilist/feed.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: bump version to 2.34.1 and update changelog
  backend/app/Http/Controllers/AnidbController.php
  backend/app/Http/Controllers/BakaController.php
  backend/app/Http/Controllers/Controller.php
  backend/app/Http/Controllers/MangaDexController.php
  backend/app/Http/Middleware/Authenticate.php
  backend/app/Http/Middleware/CorsMiddleware.php
  backend/app/Http/Middleware/ExampleMiddleware.php
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/feed/feed.component.html
  frontend/src/app/models/anilist.ts
  frontend/src/app/services/anilist/feed.service.ts
  frontend/src/changelog.ts
  frontend/src/environments/beta/manifest.webmanifest
  package-lock.json
  package.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: enhance Anilist feed service with additional date fields
  frontend/src/app/models/anime.ts
  frontend/src/app/services/anilist/feed.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: Add markdown parsing to feed component
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/feed/feed.component.html
  frontend/src/app/feed/feed.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: Add markdown parsing to feed component (#103)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/feed/feed.component.html
  frontend/src/app/feed/feed.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

Path conditions:
  tslint -c tslint.fix.json -p ./frontend --fix: any of: frontend/{src,test}/**/*.{ts,js}
  prettier --write: ((any of: frontend/{src,test}/**/*.{ts,js}) or (any of: frontend/{src,test}/**/*.{html,css})) or (any of: frontend/config/*.js)
