Repository infanf/myanili: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: reduce auto logoffs on kitsu
  frontend/src/app/services/kitsu.service.ts
  frontend/src/changelog.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: add videos to anime
  frontend/src/app/anime/anime.module.ts
  frontend/src/app/anime/details/details.component.html
  frontend/src/app/anime/details/videos/videos.component.html
  frontend/src/app/anime/details/videos/videos.component.ts
  frontend/src/app/components/components.module.ts
  frontend/src/app/components/safe.pipe.ts
  frontend/src/app/services/anime/livechart.service.ts
  frontend/src/changelog.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: version update
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

chore: debugging
  frontend/src/app/anime/details/details.component.ts
  frontend/src/app/services/anime/livechart.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: fix dynamic requires
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/anime/schedule/schedule.component.ts
  frontend/src/app/anime/season/season.component.ts
  frontend/src/app/services/ann.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: final fixes ng19
  frontend/src/app/anime/details/details.component.ts
  frontend/src/app/anime/watchlist/watchlist.component.ts
  frontend/src/app/manga/details/details.component.ts
  frontend/src/app/navbar/top/top.component.ts
  frontend/src/app/services/anilist/notifications.service.ts
  frontend/src/app/services/anime/anime.service.ts
  frontend/src/app/services/ann.service.ts
  frontend/src/app/services/dialogue.service.ts
  frontend/src/app/services/kitsu.service.ts
  frontend/src/app/services/manga/manga.service.ts
  frontend/src/app/services/manga/mangapassion.service.ts
  frontend/src/app/services/manga/mangaupdates.service.ts
  frontend/src/app/settings/migrate-baka/migrate-baka.component.ts
  frontend/src/styles.scss
  frontend/src/styles/dark-theme.scss
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: no streams showing
  frontend/src/app/services/anime/livechart.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: show thumb first
  frontend/src/app/anime/details/videos/videos.component.html
  frontend/src/app/anime/details/videos/videos.component.ts
  frontend/src/app/services/anime/livechart.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: change log
  frontend/src/changelog.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: update docker builders
  backend/Dockerfile
  frontend/Dockerfile
Due: none

fix: export correct folder
  dev.Dockerfile
  frontend/Dockerfile
Due: none

chore: prevent caching
  .github/workflows/deploy.yml
Due: none

chore: here we go again
  .github/workflows/deploy.yml
Due: none

feat: split login masks
  backend/app/Providers/AnisearchServiceProvider.php
  backend/composer.lock
  backend/routes/anisearch.php
  frontend/src/app/components/logins/anilist-login/anilist-login.component.html
  frontend/src/app/components/logins/anilist-login/anilist-login.component.ts
  frontend/src/app/components/logins/annict-login/annict-login.component.html
  frontend/src/app/components/logins/annict-login/annict-login.component.ts
  frontend/src/app/components/logins/baka-login/baka-login.component.html
  frontend/src/app/components/logins/baka-login/baka-login.component.ts
  frontend/src/app/components/logins/kitsu-login/kitsu-login.component.html
  frontend/src/app/components/logins/kitsu-login/kitsu-login.component.ts
  frontend/src/app/components/logins/livechart-login/livechart-login.component.html
  frontend/src/app/components/logins/livechart-login/livechart-login.component.ts
  frontend/src/app/components/logins/logins.component.html
  frontend/src/app/components/logins/logins.component.ts
  frontend/src/app/components/logins/logins.module.ts
  frontend/src/app/components/logins/mal-login/mal-login.component.html
  frontend/src/app/components/logins/mal-login/mal-login.component.ts
  frontend/src/app/components/logins/shikimori-login/shikimori-login.component.html
  frontend/src/app/components/logins/shikimori-login/shikimori-login.component.ts
  frontend/src/app/components/logins/simkl-login/simkl-login.component.html
  frontend/src/app/components/logins/simkl-login/simkl-login.component.ts
  frontend/src/app/components/logins/trakt-login/trakt-login.component.html
  frontend/src/app/components/logins/trakt-login/trakt-login.component.ts
  frontend/src/app/services/anisearch.service.ts
  frontend/src/app/settings/settings.component.html
  frontend/src/app/settings/settings.module.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: prepare anisearch login
  backend/app/Providers/AnisearchServiceProvider.php
  backend/routes/anisearch.php
  frontend/src/app/components/logins/anisearch-login/anisearch-login.component.html
  frontend/src/app/components/logins/anisearch-login/anisearch-login.component.ts
  frontend/src/app/components/logins/logins.component.html
  frontend/src/app/components/logins/logins.module.ts
  frontend/src/app/services/anisearch.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: implenent real anisearch login
  frontend/src/app/anime/details/details.component.html
  frontend/src/app/components/logins/anisearch-login/anisearch-login.component.html
  frontend/src/app/components/logins/logins.component.html
  frontend/src/app/manga/details/details.component.html
  frontend/src/app/services/anisearch.service.ts
  frontend/src/changelog.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: add streaming platform ABEMA
  frontend/src/app/components/stream.pipe.ts
  frontend/src/assets/stream/abema.icon.svg
  frontend/src/assets/stream/abema.svg
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: add streaming platform iQIYI
  frontend/src/app/components/stream.pipe.ts
  frontend/src/assets/stream/iqiyi.icon.svg
  frontend/src/assets/stream/iqiyi.svg
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: add streaming platform OceanVeil
  frontend/src/app/components/stream.pipe.ts
  frontend/src/assets/stream/ov.icon.svg
  frontend/src/assets/stream/ov.svg
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: add streaming platform TVer
  frontend/src/app/components/stream.pipe.ts
  frontend/src/assets/stream/tver.icon.svg
  frontend/src/assets/stream/tver.svg
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: add streaming platform U-NEXT
  frontend/src/app/components/stream.pipe.ts
  frontend/src/assets/stream/unext.icon.svg
  frontend/src/assets/stream/unext.svg
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: add streaming platform Coolmic
  frontend/src/app/components/stream.pipe.ts
  frontend/src/assets/stream/coolmic.icon.svg
  frontend/src/assets/stream/coolmic.svg
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: add platform U-NEXT
  frontend/src/app/components/platform.pipe.ts
  frontend/src/assets/platform/unx.icon.svg
  frontend/src/assets/platform/unx.svg
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: add platform Coolmic
  frontend/src/app/components/platform.pipe.ts
  frontend/src/assets/platform/cmic.icon.svg
  frontend/src/assets/platform/cmic.svg
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: refactor SVG, include XMLNS
  frontend/src/assets/platform/cmic.icon.svg
  frontend/src/assets/platform/unx.icon.svg
  frontend/src/assets/platform/unx.svg
  frontend/src/assets/stream/abema.icon.svg
  frontend/src/assets/stream/coolmic.icon.svg
  frontend/src/assets/stream/iqiyi.icon.svg
  frontend/src/assets/stream/iqiyi.svg
  frontend/src/assets/stream/ov.icon.svg
  frontend/src/assets/stream/ov.svg
  frontend/src/assets/stream/tver.icon.svg
  frontend/src/assets/stream/tver.svg
  frontend/src/assets/stream/unext.icon.svg
  frontend/src/assets/stream/unext.svg
Due: none

feat: add streaming platform WeTV
  frontend/src/app/components/stream.pipe.ts
  frontend/src/assets/stream/wetv.icon.svg
  frontend/src/assets/stream/wetv.svg
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: correct SVG namespace and gradient references in WeTV icons
  frontend/src/assets/stream/wetv.icon.svg
  frontend/src/assets/stream/wetv.svg
Due: none

chore: add tmp mock data
  backend/app/Providers/AnisearchServiceProvider.php
  backend/routes/anisearch.php
  frontend/src/app/services/anisearch.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: add anisearch rating for anime
  backend/routes/anisearch.php
  frontend/src/app/anime/details/details.component.ts
  frontend/src/app/anime/watchlist/watchlist.component.ts
  frontend/src/app/services/anime/anime.service.ts
  frontend/src/app/services/anisearch.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: add manga sync for anisearch
  frontend/src/app/manga/bookshelf/bookshelf.component.ts
  frontend/src/app/manga/details/details.component.ts
  frontend/src/app/services/anime/anime.service.ts
  frontend/src/app/services/anisearch.service.ts
  frontend/src/app/services/manga/manga.service.ts
  frontend/src/app/settings/migrate-baka/migrate-baka.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: changelog
  frontend/src/changelog.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: omit scope for anisearch
  backend/routes/anisearch.php
  frontend/src/app/services/anisearch.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: version bump
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

chore(anisearch): only request needed scopes
  backend/routes/anisearch.php
Due: none

chore: update anisearch logo
  frontend/src/app/icon/anisearch/anisearch.component.html
  frontend/src/assets/anisearch.svg
Due: prettier --write

chore: update anisearch logo
  frontend/src/app/icon/anisearch/anisearch.component.html
  frontend/src/assets/anisearch.png
Due: prettier --write

fix: refresh tokens regulalry
  frontend/src/app/services/anisearch.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: cleanup and update README
  README.md
  frontend/src/app/services/anisearch.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix(#94): prevent data removal on aniSearch
  frontend/src/app/anime/details/details.component.ts
  frontend/src/app/services/anisearch.service.ts
  frontend/src/app/services/global.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

Path conditions:
  tslint -c tslint.fix.json -p ./frontend --fix: any of: frontend/{src,test}/**/*.{ts,js}
  prettier --write: ((any of: frontend/{src,test}/**/*.{ts,js}) or (any of: frontend/{src,test}/**/*.{html,css})) or (any of: frontend/config/*.js)
