Repository infanf/myanili: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: code cleanup
  frontend/src/app/anime/details/details.component.html
  frontend/src/app/components/components.module.ts
  frontend/src/app/components/poster-rating/poster-rating.component.html
  frontend/src/app/components/poster-rating/poster-rating.component.scss
  frontend/src/app/components/poster-rating/poster-rating.component.ts
  frontend/src/app/manga/details/details.component.html
  frontend/src/app/manga/details/details.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: setup edits in another component
  frontend/src/app/anime/details/details.component.html
  frontend/src/app/anime/details/edit/edit.component.html
  frontend/src/app/anime/details/edit/edit.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/dialogue/rating/rating.component.html
  frontend/src/app/components/value-pair/value-pair.component.html
  frontend/src/app/components/value-pair/value-pair.component.ts
  frontend/src/app/manga/details/details.component.html
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: npm and composer modules updates
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

feat: publisher logos
  frontend/src/app/components/components.module.ts
  frontend/src/app/components/svg-icon/svg-icon.component.html
  frontend/src/app/components/svg-icon/svg-icon.component.ts
  frontend/src/app/manga/details/details.component.html
  frontend/src/assets/publisher/carlsen.svg
  frontend/src/assets/publisher/hayabusa.svg
  frontend/src/assets/publisher/icon-carlsen.svg
  frontend/src/assets/publisher/icon-hayabusa.svg
  frontend/src/assets/publisher/icon-kaze-manga.svg
  frontend/src/assets/publisher/icon-kodansha.svg
  frontend/src/assets/publisher/icon-sevenseas.svg
  frontend/src/assets/publisher/icon-tokyopop.svg
  frontend/src/assets/publisher/icon-yenpress.svg
  frontend/src/assets/publisher/kaze-manga.svg
  frontend/src/assets/publisher/kodansha.svg
  frontend/src/assets/publisher/sevenseas.svg
  frontend/src/assets/publisher/tokyopop.svg
  frontend/src/assets/publisher/yenpress.svg
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: replace print icon with manga publisher
  frontend/src/app/manga/bookshelf/bookshelf.component.html
  frontend/src/app/manga/list/list.component.html
  frontend/src/app/manga/widget/platform/platform.component.html
  frontend/src/app/manga/widget/platform/platform.component.ts
  frontend/src/assets/publisher/altraverse.svg
  frontend/src/assets/publisher/egmont.svg
  frontend/src/assets/publisher/icon-altraverse.svg
  frontend/src/assets/publisher/icon-egmont.svg
  frontend/src/assets/publisher/icon-kaze.svg
  frontend/src/assets/publisher/icon-viz.svg
  frontend/src/assets/publisher/kaze.svg
  frontend/src/assets/publisher/viz.svg
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix(#46): mangaupdates ID changes
  backend/app/Providers/BakaServiceProvider.php
  backend/composer.lock
  frontend/package.json
  frontend/src/app/manga/details/details.component.html
  frontend/src/app/manga/details/details.component.ts
  frontend/src/app/manga/manga.service.ts
  frontend/src/app/models/manga.ts
  frontend/src/changelog.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix(#46): mangaupdates ID changes
  backend/app/Providers/BakaServiceProvider.php
  backend/composer.lock
  frontend/src/app/manga/details/details.component.html
  frontend/src/app/manga/details/details.component.ts
  frontend/src/app/manga/manga.service.ts
  frontend/src/app/models/manga.ts
  frontend/src/changelog.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: rename search component
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/search/search.component.html
  frontend/src/app/search/search.component.scss
  frontend/src/app/search/search.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: rename routes
  frontend/src/app/app-routing.module.ts
  frontend/src/app/navbar/navbar.component.html
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: combine search and quickopen
  frontend/src/app/app-routing.module.ts
  frontend/src/app/navbar/navbar.component.html
  frontend/src/app/navbar/navbar.component.scss
  frontend/src/app/search/search.component.html
  frontend/src/app/search/search.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: changelog
  frontend/package-lock.json
  frontend/package.json
  frontend/src/changelog.json
Due: none

fix: app prompt autofocus
  frontend/src/app/components/dialogue/dialogue.component.ts
  frontend/src/app/search/search.component.ts
  frontend/src/changelog.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: composer update
  backend/composer.lock
Due: none

fix: manga search on submit not working
  frontend/src/app/manga/widget/platform/platform.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: update angular to 14 stable
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
Due: none

fix: aniverse icon not showing
  frontend/src/assets/stream/aniverse.svg
  frontend/src/assets/stream/icon-aniverse.svg
Due: none

chore: update modules and dependencies
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/changelog.json
  package-lock.json
  package.json
Due: none

fix: green background color
  frontend/src/app/anime/details/details.component.ts
  frontend/src/app/anime/watchlist/watchlist.component.scss
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: no image on annict results
  frontend/src/app/anime/annict.service.ts
  frontend/src/app/external/annict/annict.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: module updates
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/changelog.json
  package-lock.json
  package.json
Due: none

fix: don't update when no changes
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/anime/details/details.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: upcoming anime schedule
  frontend/src/app/anime/schedule/schedule.component.html
  frontend/src/app/anime/schedule/schedule.component.scss
Due: prettier --write

feat: schedule time/date flip
  frontend/src/app/anime/schedule/schedule.component.scss
Due: none

chore: update packages and modules
  Dockerfile
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: remove obsolete left side chaining
  frontend/src/app/anime/details/details.component.html
  frontend/src/app/anime/list/grid/grid.component.html
  frontend/src/app/anime/schedule/schedule.component.html
  frontend/src/app/anime/season/list/list.component.html
  frontend/src/app/manga/details/characters/characters.component.html
  frontend/src/app/manga/details/details.component.html
Due: prettier --write

fix: recently watched ongoing shows not listetd in watchlist
  frontend/src/app/anime/anime.service.ts
  frontend/src/app/anime/watchlist/watchlist.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: manga search resets to anime
  frontend/src/app/search/search.component.html
Due: prettier --write

feat: replace loading icons
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/anime/details/details.component.html
  frontend/src/app/anime/season/list/list.component.html
  frontend/src/app/external/external.component.html
  frontend/src/app/manga/details/details.component.html
  frontend/src/app/manga/details/details.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: handle MAL maintenance
  backend/app/Providers/MalServiceProvider.php
  backend/routes/mal.php
  frontend/src/app/app.component.ts
  frontend/src/app/mal.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: changelog
  frontend/package-lock.json
  frontend/package.json
  frontend/src/changelog.json
  package-lock.json
  package.json
Due: none

chore: update napm packages
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
Due: none

chore(fixes #51): replace momentjs with luxon
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/anime/anime.service.ts
  frontend/src/app/anime/schedule/schedule.component.ts
  frontend/src/app/anime/watchlist/watchlist.component.html
  frontend/src/app/anime/watchlist/watchlist.component.ts
  frontend/src/app/components/day.pipe.ts
  frontend/src/app/components/luxon-helper.ts
  frontend/src/app/components/time.pipe.ts
  frontend/src/app/models/components.ts
  frontend/src/app/settings/settings.service.ts
  frontend/src/app/settings/widget-season/widget-season.component.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: update node modules
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: today's schedule has no times
  frontend/src/app/anime/watchlist/watchlist.component.html
Due: prettier --write

fix: handle sunday being 7 in luxon
  frontend/src/app/anime/anime.service.ts
  frontend/src/app/anime/watchlist/watchlist.component.html
  frontend/src/app/anime/watchlist/watchlist.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: update packages
  backend/composer.lock
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
Due: none

feat(#49): setup backend proxy and frontend service
  backend/app/Http/Controllers/BakaController.php
  backend/app/Http/Controllers/ExampleController.php
  backend/bootstrap/app.php
  backend/composer.lock
  backend/routes/baka.php
  frontend/src/app/manga/mangaupdates.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat(#49): implement login
  frontend/src/app/icon/bakamanga/bakamanga.component.html
  frontend/src/app/manga/mangaupdates.service.ts
  frontend/src/app/models/baka.ts
  frontend/src/app/settings/settings.component.html
  frontend/src/app/settings/settings.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: watchlist sorting on sundays
  frontend/src/app/anime/watchlist/watchlist.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

Path conditions:
  tslint -c tslint.fix.json -p ./frontend --fix: any of: frontend/{src,test}/**/*.{ts,js}
  prettier --write: ((any of: frontend/{src,test}/**/*.{ts,js}) or (any of: frontend/{src,test}/**/*.{html,css})) or (any of: frontend/config/*.js)
