Repository infanf/myanili: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

.lintstagedrc.json:

{
  "frontend/{src,test}/**/*.{ts,js}": [
    "tslint -c tslint.fix.json -p ./frontend --fix",
    "prettier --write"
  ],
  "frontend/{src,test}/**/*.{html,css}": [
    "prettier --write"
  ],
  "frontend/config/*.js": [
    "prettier --write"
  ]
}

feat: add rankings to detail pages
  frontend/src/app/anime/details/details.component.html
  frontend/src/app/components/value-pair-array/value-pair-array.component.html
  frontend/src/app/components/value-pair-array/value-pair-array.component.ts
  frontend/src/app/components/value-pair/value-pair.component.html
  frontend/src/app/components/value-pair/value-pair.component.ts
  frontend/src/app/manga/details/details.component.html
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix(anisearch): wrong value if no rating given
  backend/app/Providers/AnisearchServiceProvider.php
Due: none

feat: add skip button
  frontend/src/app/anime/details/details.component.html
  frontend/src/app/anime/details/details.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: watchlist
  frontend/src/app/anime/watchlist/watchlist.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: version bump
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/changelog.json
  frontend/src/polyfills.ts
  package-lock.json
  package.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: link to livechart profile
  frontend/src/app/settings/settings.component.html
Due: prettier --write

chore: remove protractor
  frontend/e2e/protractor.conf.js
  frontend/e2e/src/app.e2e-spec.ts
  frontend/e2e/src/app.po.ts
  frontend/e2e/tsconfig.json
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
Due: none

chore: update
  frontend/package-lock.json
  frontend/package.json
Due: none

feat(#28): get ID and rating from MangaDex
  frontend/src/app/icon/icon.module.ts
  frontend/src/app/icon/mangadex/mangadex.component.html
  frontend/src/app/icon/mangadex/mangadex.component.ts
  frontend/src/app/manga/details/details.component.html
  frontend/src/app/manga/details/details.component.ts
  frontend/src/app/models/manga.ts
  frontend/src/app/services/manga/mangadex.service.ts
  package-lock.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat(#28): chapter volume mapping
  frontend/src/app/manga/bookshelf/bookshelf.component.ts
  frontend/src/app/manga/details/details.component.ts
  frontend/src/app/services/manga/mangadex.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix(#28): resolve cors issues
  backend/app/Http/Controllers/MangaDexController.php
  backend/bootstrap/app.php
  backend/routes/mangadex.php
  frontend/src/app/services/manga/mangadex.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix(#28): pass through get params
  backend/app/Http/Controllers/MangaDexController.php
Due: none

feat(#65): add new livechart status
  frontend/src/app/services/anime/anime.service.ts
  frontend/src/app/services/anime/livechart.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: change status icons
  frontend/src/app/icon/status/icon-status.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: kitsu rating in percent
  frontend/src/app/services/kitsu.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore(2.24.0): version bump
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/changelog.json
  package-lock.json
  package.json
Due: none

feat: livechart token refresh
  frontend/src/app/services/anime/livechart.service.ts
  frontend/src/app/settings/settings.component.html
  frontend/src/app/settings/settings.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: add aniDB links
  frontend/angular.json
  frontend/src/app/anime/details/details.component.html
  frontend/src/app/anime/details/details.component.ts
  frontend/src/app/icon/anidb/anidb.component.html
  frontend/src/app/icon/anidb/anidb.component.ts
  frontend/src/app/icon/icon.module.ts
  frontend/src/app/search/search.component.ts
  frontend/src/app/services/anime/anidb.service.ts
  frontend/src/app/services/anime/livechart.service.ts
  frontend/src/app/services/kitsu.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: livechart token refresh
  backend/composer.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/services/anime/livechart.service.ts
  frontend/src/changelog.json
  package-lock.json
  package.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: minor code rewrite
  frontend/src/app/services/anime/livechart.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: prevent race condition when changing seasons
  frontend/src/app/anime/schedule/schedule.component.ts
  frontend/src/app/anime/season/season.component.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: http api anidb
  frontend/src/app/services/anime/anidb.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix(anidb): http request blocked
  backend/app/Http/Controllers/AnidbController.php
  backend/bootstrap/app.php
  backend/routes/anidb.php
  frontend/src/app/services/anime/anidb.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: prepare aniDB user connection
  backend/app/Http/Controllers/AnidbController.php
  backend/routes/anidb.php
  frontend/src/app/services/anime/anidb.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: get stream info from livechart
  frontend/src/app/anime/anime.module.ts
  frontend/src/app/anime/details/details.component.html
  frontend/src/app/anime/details/details.component.ts
  frontend/src/app/anime/details/streams/streams.component.html
  frontend/src/app/anime/details/streams/streams.component.ts
  frontend/src/app/services/anime/livechart.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

fix: streams design
  frontend/src/app/anime/details/details.component.html
  frontend/src/app/anime/details/details.component.ts
  frontend/src/app/anime/details/streams/streams.component.html
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: version bump
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/changelog.json
  package-lock.json
  package.json
Due: none

fix: svg gradient ids
  frontend/src/assets/stream/disney.svg
  frontend/src/assets/stream/icon-azn.svg
Due: none

fix(resolves #66): wrong start date for future show
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/external/livechart/livechart.component.ts
  frontend/src/app/services/anime/livechart.service.ts
  frontend/src/changelog.json
  package-lock.json
  package.json
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: add manga platform Manga UP!
  frontend/src/app/components/platform.pipe.ts
  frontend/src/assets/platform/icon-mup.svg
  frontend/src/assets/platform/mup.svg
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

feat: use local timezone by default
  frontend/src/app/models/anime.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: update angular
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: add anidb cache
  backend/app/Http/Controllers/AnidbController.php
  backend/composer.json
  backend/composer.lock
  backend/public/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/changelog.json
  package-lock.json
  package.json
Due: none

chore: update angular to v16
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: update urql
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/services/anilist.service.ts
  frontend/src/app/services/anime/annict.service.ts
  frontend/src/app/services/anime/livechart.service.ts
Due: tslint -c tslint.fix.json -p ./frontend --fix, prettier --write

chore: update dependencies
  backend/composer.json
  backend/composer.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
Due: none

chore: disable text selection on links
  frontend/src/styles.scss
Due: none

feat: anidb headers
  backend/app/Http/Controllers/AnidbController.php
Due: none

chore: update node to 20
  dev.Dockerfile
  frontend/Dockerfile
Due: none
